
body {
    background-color: powderblue;
}

#createBox {
    /*text-align: center;*/
    background-color: whitesmoke;
    border-radius: 1rem;
    max-width: 40%;
    width: auto;
    padding: 1em;
    margin: auto auto 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#snakeInputName{
    width: 500px;
}

.button {
    margin: 5px;
    cursor: pointer;
    color: white;
    padding: 7px 20px;
    border-radius: 10rem;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 1.2rem;
    font-weight: 800;
    animation: buttonEffect;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}